<% if(expiryArr != null && expiryArr.length > 0){ %>
  <div class="float-md-end mb-3" style="min-width: 250px;">
    <div class="form-floating">
      <select id="select-expiry" class="form-select border border-info" id="floatingSelect" aria-label="Floating label select example">
        <% expiryArr.forEach(function (val) { %>
        <option <%= (expiry === val ? "disabled selected" : ""); %> value="<%= val %>"><%= val %></option>
        <% }); %>
      </select>
      <label class="text-primary fw-bolder fs--1" for="select-expiry">Expiry</label>
    </div>
  </div>

<!-- <ul class="nav nav-phoenix-pills-info nav-phoenix-pills my-2 mb-5 d-sm-flex " role="tablist" id="expiry-tab">
  <%
                    var slice = expiryArr.slice(0, 4);
                    var colClass = "col-sm-" + (12 / slice.length);
                    
                slice.forEach(function(item){ 
                    let d = new Date(item);
                    let ye = d.toLocaleDateString("en-US", { year: 'numeric' });
                    let mo = d.toLocaleDateString("en-US", { month: 'short' });
                    let da = d.toLocaleDateString("en-US", { day: '2-digit' });
                    let w = d.toLocaleDateString("en-US", { weekday: 'short' });
                    let disExpiry=`${da}-${mo}-${ye}`;
                    let ttExpiry=`${w}, ${da}-${mo}-${ye}`;
                    %>
  <li class="nav-item <%= colClass %> tooltipped " data-position="top" data-tooltip="Option expiring on <%= ttExpiry %>">
    <a target="_self" href="<%= navLink %>/<%= symbol %>?expiry=<%= item %>" class="nav-link <%= expiry == item ? 'active text-100 bg-info bg-gradient' : '' %>">
      <%= disExpiry %>
    </a>
  </li>
  <% }); %>
</ul> -->
<div class="clearfix"></div>
<hr class="mt-0">
<script>
  $(document).ready(function() {
    const $selectExpiry = $('#select-expiry');
    const encodedSymbol = encodeURIComponent('<%= symbol %>');

    $selectExpiry.on('change', function(e) {
      myModal.show();
      let expiry = this.value;
      window.location.href = `<%= navLink %>/${encodedSymbol}?expiry=${expiry}`;
    });
  });
</script>
<% } %>