<%
let header = [
    <!-- {name: "SGX Nifty", link: "/sgx-nifty", children: []}, -->
   
    {name: "Max Pain", link: "/max-pain", children: []},
    {name: "Put Call Ratio", link: "/put-call-ratio", children: []},
    {name: "Option Chain", link: "/option-chain", children: []},
    <!-- {name: "Screener", link: "/screener", children: [], isNew: true}, -->
    {
      name: "Company", link: "", children: [
      {name: "About", link: "/company?dest=about"},
      {name: "Charts", link: "/company?dest=chart"},
      {name: "Financials", link: "/company?dest=financials"},
      {name: "Technicals", link: "/company?dest=technical"},
      {name: "Related News", link: "/company?dest=related-news"},
      {name: "Lot Size", link: "/lot-size"}
      ]
    },
    {
      name: "Live News", link: "/news", children: [
      
      <!-- {name: "Pre Open Market Analysis", link: "/pre-open-market-analysis"}, -->
      <!-- {name: "Post Market Analysis", link: "/post-close-market-analysis"}, -->
      {name: "Indian News", link: "/indian-news"},
      {name: "Stock News", link: "/stock-news"}
      ]
    },
    ...(!(isAuthenticated && user?.isAdmin)
      ? []  
      : [{ name: "Journal", link: "/journal", children: [] }]),
    ...(isAuthenticated && (user?.isSubscribedUser)
      ? []  
      : [{ name: "Pricing", link: "/subscription/pricing", children: [] }]),
    <!-- {name: "Books", link: "/affiliate/books", children: []} -->
]
var activeMenu = menu
%>

<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="dualNav">
  <div class="w-100">
    <div class="d-flex flex-between-center dual-nav-first-layer">
      <div class="navbar-logo">
        <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
        <a class="navbar-brand ms-0 me-sm-3" href="/">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center"><img src="<%= process.env.STATIC_FILES %>/public/images/logo.png" alt="Nifty Invest Logo" width="27" />
              <% if(isAuthenticated && user?.isSubscribedUser) { %>
                <p class="logo-text ms-2"><span class="text-info">NiftyInvest</span><span class="text-warning"> +</span></p>
                <% }else{%>
                <p class="logo-text ms-2">NiftyInvest</p>
                <% }%>
            </div>
          </div>
        </a>
      </div>
      <% var INDICES_PAGES=[{"s":"constituents","n":"Constituents Heat Map","p1":""},
      {s:"call-oi-vs-put-oi",n:"Call OI vs Put OI","p1":""},
      {s:"call-change-oi-vs-put-change-oi",n:"Call Change OI vs Put Change OI","p1":""},
      {s:"call-volume-vs-put-volume",n:"Call Volume vs Put Volume","p1":""},
      {s:"call-oi-vs-put-oi",n:"Historical OI Analysis","p1":"/history"},
      ] %>
      <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"></span>Index Analysis<span class="fas fa-caret-down fs-0 ms-2 d-lg-block d-none"></span></a>
          <ul class="dropdown-menu navbar-dropdown-caret dropdown-menu-card py-0" style="min-width: 700px;">
            <div class="border-0 scrollbar" style="max-height: 70vh;">
              <div class="px-2 pt-4 pb-3">
                <div class="row g-2">
                  <div class="col-12 col-sm-6 col-md-4">
                    <div class="dropdown-item-group"><span class="me-2" data-feather="columns" style="stroke-width:2;"></span>
                      <h6 class="dropdown-item-title">Nifty 50</h6>
                    </div>
                    <% INDICES_PAGES.forEach(function (x) { %>
                    <a class="dropdown-link px-1" href="/indices<%= x.p1 %>/NIFTY/<%= x.s %>"><span class="uil uil-angle-right fs--1 me-1"></span><%= x.n %></a>
                    <% }) %>
                    <div class="dropdown-item-group  mt-3"><span class="me-2" data-feather="columns" style="stroke-width:2;"></span>
                      <h6 class="dropdown-item-title">Bank Nifty</h6>
                    </div>
                    <% INDICES_PAGES.forEach(function (x) { %>
                    <a class="dropdown-link px-1" href="/indices<%= x.p1 %>/BANKNIFTY/<%= x.s %>"><span class="uil uil-angle-right fs--1 me-1"></span><%= x.n %></a>
                    <% }) %>
  
                  </div>
                  <div class="col-12 col-sm-6 col-md-4">
                    <div class="dropdown-item-group"><span class="me-2" data-feather="columns" style="stroke-width:2;"></span>
                      <h6 class="dropdown-item-title">Mid Cap Select Nifty</h6>
                    </div>
                    <% INDICES_PAGES.forEach(function (x) { %>
                    <a class="dropdown-link px-1" href="/indices<%= x.p1 %>/MIDCPNIFTY/<%= x.s %>"><span class="uil uil-angle-right fs--1 me-1"></span><%= x.n %></a>
                    <% }) %>
                    <div class="dropdown-item-group  mt-3"><span class="me-2" data-feather="columns" style="stroke-width:2;"></span>
                      <h6 class="dropdown-item-title">Finnifty</h6>
                    </div>
                    <% INDICES_PAGES.forEach(function (x) { %>
                    <a class="dropdown-link px-1" href="/indices<%= x.p1 %>/FINNIFTY/<%= x.s %>"><span class="uil uil-angle-right fs--1 me-1"></span><%= x.n %></a>
                    <% }) %>
  
                  </div>
                  <div class="col-12 col-sm-6 col-md-4">
                    <div class="dropdown-item-group"><span class="me-2" data-feather="columns" style="stroke-width:2;"></span>
                      <h6 class="dropdown-item-title">Sensex</h6>
                    </div>
                    <% INDICES_PAGES.forEach(function (x) { %>
                    <a class="dropdown-link px-1" href="/indices<%= x.p1 %>/SENSEX/<%= x.s %>"><span class="uil uil-angle-right fs--1 me-1"></span><%= x.n %></a>
                    <% }) %>
                    <div class="dropdown-item-group mt-3"><span class="me-2" data-feather="columns" style="stroke-width:2;"></span>
                      <h6 class="dropdown-item-title">Bankex</h6>
                    </div>
                    <% INDICES_PAGES.forEach(function (x) { %>
                    <a class="dropdown-link px-1" href="/indices<%= x.p1 %>/BANKEX/<%= x.s %>"><span class="uil uil-angle-right fs--1 me-1"></span><%= x.n %></a>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </li>
        <% header.forEach(function (menu, mCount) { %>
        <% if(menu.children.length > 0) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle lh-1 <%= activeMenu.toLowerCase() === menu.name.toLowerCase() ? 'text-info' : '' %>" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><%= menu.name %><span class="fas fa-caret-down fs-0 ms-2 d-lg-block d-none"></span></a>
          <ul class="dropdown-menu navbar-dropdown-caret">
            <% menu.children.forEach(function (subMenu) { %>
            <li><a class="dropdown-item" href="<%= menu.link + subMenu.link %>">
                <div class="dropdown-item-wrapper"><span class="fab fa-strava me-2"></span><%= subMenu.name %></div>
              </a></li>
            <% }) %>
          </ul>
        </li>
        <% }else{ %>

        <li class="nav-item">
          <a class="nav-link lh-1 <%= activeMenu.toLowerCase() === menu.name.toLowerCase() ? 'text-info' : '' %>" href="<%= menu.link %>"><%= menu.name %></a>
        </li>
        <% } }) 
       if (!isAuthenticated) { %>
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="/auth/register">Sign-up</a>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav navbar-nav-icons flex-row">
        <li class="nav-item">
          <div class="theme-control-toggle fa-icon-wait px-0"><input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" /><label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label><label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label></div>
        </li>
        <li class="nav-item"><a id="search-link" class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#searchBoxModal">
            <span data-feather="search" style="height:19px;width:19px;margin-bottom: 2px;"></span></a></li>
        <li class="nav-item">
          <% if (isAuthenticated) { %>
        <li class="nav-item dropdown"><a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-l ">
              <img class="rounded-circle " src="<%= user.image %>" alt="" />
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
            <div class="card position-relative border-0">
              <div class="card-body p-0">
                <div class="text-center pt-4 pb-3">
                  <div class="avatar avatar-xl ">
                    <img class="rounded-circle " src="<%= user.image %>" alt="Profile Image" />
                  </div>
                  <h6 class="mt-2 text-black"><%= user.email %></h6>
                  <span class="badge badge-phoenix fs--2 badge-phoenix-<%= user?.isSubscribedUser ? 'success':'warning' %>">
                    <span class="badge-label"></span><%= user?.isSubscribedUser? 'Premium Member':'Free Member' %> </span>
                  </span>
                </div>
              </div>
              <div class="overflow-auto scrollbar">
                <!-- style="height: 8rem;" -->
                <ul class="nav d-flex flex-column mb-2 pb-1">
                  <li class="nav-item"><a class="nav-link px-3" href="/user/profile"> <span class="me-2 text-900" data-feather="user"></span><span>Profile</span></a></li>
                  <% if(user?.isAdmin) { %>
                  <li class="nav-item"><a class="nav-link px-3" href="/admin"><span class="me-2 text-900" data-feather="shield"></span>Admin Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link px-3" href="/trade-dashboard"><span class="me-2 text-900" data-feather="bar-chart-2"></span>Trade Dashboard</a></li>
                  <% } %>
                  <li class="nav-item"><a class="nav-link px-3" href="/user/settings"> <span class="me-2 text-900" data-feather="settings"></span>Settings &amp; Privacy </a></li>
                  <li class="nav-item"><a class="nav-link px-3" href="/user/support"> <span class="me-2 text-900" data-feather="help-circle"></span>Help Center</a></li>
                </ul>
              </div>
              <div class="card-footer p-0">
                <!-- <ul class="nav d-flex flex-column my-3">
                <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-900" data-feather="user-plus"></span>Add another account</a></li>
              </ul> -->
                <!-- <hr /> -->
                <div class="px-3 pt-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/auth/logout"> <span class="me-2" data-feather="log-out"> </span>Sign out</a></div>
                <div class="my-2 text-center fw-bold fs--2 text-600"><a class="text-600 me-1" href="/privacy-policy">Privacy policy</a>&bull;<a class="text-600 mx-1" href="/terms-and-conditions">Terms</a>&bull;<a class="text-600 ms-1" href="/terms-and-conditions">Cookies</a></div>
              </div>
            </div>
          </div>
        </li>
        <% } else{%>
        <a id="search-link" class="nav-link d-none d-md-block" href="/auth/login">Login /</a>
        <a id="search-link" class="nav-link d-none d-md-block" href="/auth/register">Sign-up</a>
        <a id="search-link" class="nav-link d-md-none" href="/auth/login"><span class="text-info" data-feather="log-in" style="height:19px;width:19px;margin-bottom: 2px;"></span>
          </span>
        </a>
        <% } %>

        </li>

      </ul>
    </div>
    <%- include('./_DualHeader.ejs') %>
</nav>


<span style="display: none">[--[65.84.65.76]--]</span>
</div>