<div
  class="d-flex flex-row flex-shrink-0 p-3 bg-light"
>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item d-none">
      <a
        href="/journal"
        class="nav-link <%= currentPath === 'journal/dashboard' ? 'active' : '' %>"
      >
        <i class="uil uil-home"></i> Dashboard
      </a>
    </li>
   
    <li class="nav-item  d-none">
      <a
        href="/journal/tradejournal"
        class="nav-link <%= currentPath === 'journal/journal' ? 'active' : '' %>"
      >
        <i class="uil uil-diary"></i> Maintain Journal
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/journal/addTrade"
        class="nav-link <%= currentPath === '/journal/addTrade' ? 'active' : '' %>"
      >
        <i class="uil uil-plus-circle"></i> Add Trade
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/journal/trades"
        class="nav-link <%= currentPath === '/journal/trades' ? 'active' : '' %>"
      >
        <i class="uil uil-list-ul"></i> Execution List
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/journal/tradeHistory"
        class="nav-link <%= currentPath === '/journal/tradeHistory' ? 'active' : '' %>"
      >
      <i class="uil uil-history"></i> Trade History
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/journal/manageStrategies"
        class="nav-link <%= currentPath === '/journal/manageStrategies' ? 'active' : '' %>"
      >
      <i class="uil uil-analysis"></i> Manage Strategy
      </a>
    </li>
    <li class="nav-item  d-none">
      <a
        href="/journal/execution-list"
        class="nav-link <%= currentPath === '/journal/execution-list' ? 'active' : '' %>"
      >
        <i class="fa-solid fa-list-ol"></i> Execution List
      </a>
    </li>
  </ul>
</div>