<%
expiryQueryParam = expiry && expiry !== '' ? `?expiry=${expiry}` : '';
let IndexCompanyParam = stockPrice.type == "index" ? `/technical` : '';
let pages = [
    {id: "option-chain", name: "Option-chain", baseLink: `/option-chain/${symbol}${expiryQueryParam}`, active: false, iconClass: 'uil-align-alt fs-0'},
    {id: "max-pain", name: "Max-pain", baseLink: `/max-pain/${symbol}${expiryQueryParam}`, active: false, iconClass: 'uil-crosshair fs-0'},
    {
        id: "pull-call-ratio",
        name: "Pull Call ratio",
        baseLink: `/put-call-ratio/${symbol}${expiryQueryParam}`,
        active: false,
        iconClass: 'fas fa-percentage'
    },
    {id: "technical", name: "Technical", baseLink: `/company/${symbol}/technical`, active: false, iconClass: 'uil uil-dashboard fs-0'},
    {id: "financials", name: "Financials", baseLink: `/company/${symbol}/financials`, active: false, iconClass: 'fas fa-file-invoice-dollar'},
    {id: "constituents", name: "Constituents", baseLink: `/indices/${symbol}/constituents`, active: false, iconClass: 'fab fa-buromobelexperte fs-0'},
    {id: "call-oi-vs-put-oi", name: "Call OI vs Put OI", baseLink: `/indices/${symbol}/call-oi-vs-put-oi`, active: false, iconClass: 'uil uil-analytics fs-0'},
    {id: "call-change-oi-vs-put-change-oi", name: "Call Change OI vs Put Change OI", baseLink: `/indices/${symbol}/call-change-oi-vs-put-change-oi`, active: false, iconClass: 'uil uil-balance-scale fs-0'},
    {id: "call-volume-vs-put-volume", name: "Call Volume vs Put Volume", baseLink: `/indices/${symbol}/call-volume-vs-put-volume`, active: false, iconClass: 'uil uil-exclude fs-0'},
    {id: "historical-oi-analysis", name: "Historical OI Analysis", baseLink: `/indices/history/${symbol}/call-oi-vs-put-oi`, active: false, iconClass: 'uil uil-history fs-0'},
   
    {id: "related-news", name: "Related News", baseLink: `/company/${symbol}/related-news`, active: false, iconClass: 'uil uil-newspaper fs-0'},
    {id: "chart", name: "Chart", baseLink: `/company/${symbol}/chart`, active: false, iconClass: 'fas fa-chart-line'},
    {id: "about", name: "About", baseLink: `/company/${symbol}/about`, active: false, iconClass: 'uil-file-search-alt fs-0'}
].map(item => item.id.toLowerCase() === stockPrice.parentPage.toLowerCase() ? {...item, active: true} : item)
<!-- pages = pages.sort((a, b) => a.id.localeCompare(b.id)); -->

if (isIndexSymbol(symbol)) {
    pages = pages.filter(it => it.id !== "chart" && it.id !== "financials" && it.id !== "about")
}
else if (isCurrencySymbol(symbol) || isCommoditySymbol(symbol) || symbol === "NIFTYNXT50") {
  pages = pages.filter(it => it.id == "option-chain" || it.id == "max-pain" || it.id == "pull-call-ratio"
  || it.id == "related-news"|| it.id == "technical" )
}
else{
  pages = pages.filter(it => it.id !== "constituents" && it.id !== "call-oi-vs-put-oi" && it.id !== "call-change-oi-vs-put-change-oi" && it.id !== "call-volume-vs-put-volume" && it.id !== "historical-oi-analysis")
}
navLink = pages.find(it => it.active)?.baseLink.replace(`${symbol}`, "##sym##");
%>
<button type="button" class="btn btn-danger btn-circle btn-xl btn-shadow btn-be-fixed d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
  <i class="uil-angle-double-up fs-5"></i>
</button>
<div class="offcanvas offcanvas-bottom m-related-page" id="offcanvasBottom" tabindex="-1" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header py-0">
    <h5 class="offcanvas-title bg-info text-200 p-1 px-2" id="offcanvasBottomLabel">Related Pages for <%= symbol %></h5><button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <ul class="list-group list-group-flush">
      <% pages.forEach(page=>{ if(page.active != true){ %>
      <li class="list-group-item p-0">
        <a class="text-decoration-none w-100 d-inline-block py-2 px-1" href="<%= page.baseLink %>">
          <span class="nav-link-icon rp-icon">
            <span class="<%= page.iconClass %>"></span>
          </span>
          <span class="nav-link-text-wrapper">
            <%= page.name %>
          </span>
        </a>
      </li>
      <% }}) %>
    </ul>
  </div>
</div>
<nav class="navbar navbar-vertical navbar-expand-lg">
  <script>
    var documentElement = document.documentElement;
    var navbarVertical = document.querySelector('.navbar-vertical');
    navbarVertical.removeAttribute('style');
    documentElement.classList.add('navbar-combo')
  </script>
  <div class="collapse navbar-collapse" id="sidenavbarVerticalCollapse">
    <!-- scrollbar removed-->
    <div class="navbar-vertical-content  pt-0">
      <ul class="navbar-nav flex-column" id="navbarVerticalNav">

        <li class="nav-item v-collapsed-block">
          <!-- parent pages-->
          <div class="nav-item-wrapper">
            <a class="nav-link label-1 m-1" role="button" data-bs-toggle="" aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span class="fas fa-info-circle fs-0"></span>
                </span>
                <div class="nav-link-text-wrapper">
                  <span class="nav-link-text  py-2 px-2 ps-3 bg-200" style="width: 20rem;">
                    <div class="text-200">
                      <div>

                        <%
                          var borderColor = stockPrice.change > 0 ? "green" : "red";
                          var changeClass = stockPrice.change > 0 ? "green-text text-darken-2" : "red-text text-darken-2";
                          var arrowType = stockPrice.change > 0 ? "uil uil-arrow-growth mx-1" : "uil uil-chart-down mx-1";
                %>

                        <div class="card px-2 bg-1000 bg-gradient dark__bg-1000  border border-1 border-<%= bgClass(stockPrice.change)  %>">
                          <div class="card-body py-2 px-0">
                            <%
                      var arrowNifty = stockPrice.change > 0 ? "uil uil-arrow-growth mx-1" : "uil uil-chart-down mx-1";
                      %>
                            <h6 class="text-300 dark__text-300"><%= stockPrice.symbol %></h6>
                            <h5 class="text-500 dark__text-500 pt-1 mb-3"><%= stockPrice.symbolName %></strong></h5>

                            <hr class="my-1 border border-1 border-<%=bgClass(stockPrice.change)  %>">
                            <div>
                              <strong class="text-300  dark__text-300 fs-0"><%= stockPrice.ltp %></strong>
                              <span class="text-end fs--1 <%= changeTextClass(stockPrice.ltp) %>">
                                <i class="<%= arrowNifty +' '+ changeTextClass(stockPrice.change) %>"></i>
                                <span class="fs--1 badge badge-phoenix badge-phoenix-<%=bgClass(stockPrice.change)%> light"> <%= (stockPrice.change).toFixed(2) %> (<%= (stockPrice.pchange).toFixed(2) %>%)</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </a>
            <hr class="p-0 m-0" />

          </div>
        </li>
        <li class="nav-item v-collapsed-block" id="search-stock-sidenav">
          <div class="nav-item-wrapper">
            <a class="nav-link label-1 m-1" role="button" data-bs-toggle="" aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span class="fa fa-search"></span>
                </span>
                <span class="nav-link-text-wrapper sidenav-search-stock">
                  <span class="nav-link-text p-2 ps-3 bg-200" style="width: 30rem;">
                    <%- include ./_StockSearch.ejs %>
                  </span>
                </span>
              </div>
            </a>
            <hr class="p-0 m-0" />
          </div>

        </li>
        <li class="nav-item v-collapsed-none px-1 mb-3">
          <!-- parent pages-->
          <div class="nav-item-wrapper">
            <div class="text-200 pt-1 mb-2">
              <div>

                <%
                          var borderColor = stockPrice.change > 0 ? "green" : "red";
                          var changeClass = stockPrice.change > 0 ? "green-text text-darken-2" : "red-text text-darken-2";
                          var arrowType = stockPrice.change > 0 ? "uil uil-arrow-growth mx-1" : "uil uil-chart-down mx-1";
                %>

                <div class="card px-2 bg-1000 bg-gradient dark__bg-1000  border border-1 border-<%= bgClass(stockPrice.change)  %>">
                  <div class="card-body py-2 px-0">
                    <%
                      var arrowNifty = stockPrice.change > 0 ? "uil uil-arrow-growth mx-1" : "uil uil-chart-down mx-1";
                      %>
                    <h6 class="text-300 dark__text-300"><%= stockPrice.symbol %></h6>
                    <h5 class="text-500 dark__text-500 pt-1 mb-3"><%= stockPrice.symbolName %></strong></h5>

                    <hr class="my-1 border border-1 border-<%=bgClass(stockPrice.change)  %>">
                    <div>
                      <strong class="text-300  dark__text-300 fs-0"><%= stockPrice.ltp %></strong>
                      <span class="text-end fs--1 <%= changeTextClass(stockPrice.ltp) %>">
                        <i class="<%= arrowNifty +' '+ changeTextClass(stockPrice.change) %>"></i>
                        <span class="fs--1 badge badge-phoenix badge-phoenix-<%=bgClass(stockPrice.change)%> light"> <%= (stockPrice.change).toFixed(2) %> (<%= (stockPrice.pchange).toFixed(2) %>%)</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item v-collapsed-none px-1 mb-3 sidenav-search-stock" id="search-stock-sidenav">
          <%- include ./_StockSearch.ejs %>
        </li>
        <li class="nav-item">
          <% pages.forEach(page=>{ %>
          <div class="nav-item-wrapper">
            <a class="nav-link label-1 fs--1  m-1 <%= page.active ? 'active' : '' %>" href="<%= page.baseLink %>" role="button" data-bs-toggle="" aria-expanded="false">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span class="<%= page.iconClass %> <%= page.active ? 'text-200 dark__text-900' : '' %>"></span>
                </span>
                <span class="nav-link-text-wrapper">
                  <span class="nav-link-text <%= page.active ? 'text-200 dark__text-900' : '' %> "><%= page.name %></span>
                </span>
              </div>
            </a>
          </div>
          <hr class="p-0 m-0" /><!-- parent pages-->

          <% }) %>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-vertical-footer"><button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button></div>
</nav>