<%- include('./_Search.ejs',{heading,includeh1heading}) %>
<% if(destLink !=''){ %>
  <%- include('../partials/_IndicesLinkSelect.ejs',{destLink}) %>

<% } %>
<% tickerGroup.forEach(function(group){ %>
<div class="row g-1 mt-3">
  <h4 class="text-danger"><b><%= group.group %></h4></b>
  <% group.children.forEach(function(item){ %>
  <div class="col col-md-4 col-lg-3 mb-2">
    <div class="card text-100 bg-info dark__bg-info bg-gradient">
      <div class="card-body p-2">
        <% var navLinkMod=navLink.replace("##sym##",item.ticker.symbol) %>
        <a href="<%= navLinkMod %>" class="text-decoration-none text-white">
          <p class="card-title text-100 truncate mb-2"><strong><%= item.ticker.name %></strong></p>
          <p class="card-text symbol-italics"><i>( <%= item.ticker.symbol %> )</i></p>
        </a>
      </div>
    </div>
  </div>

  <% }); %>
</div>
<% }); %>