    <!-- <% var description = `Screening stocks based on technical. filter stocks based on day gain, gap up opening, delivery percentage, RSI, Wr, MACD, and many other technical analysis.` %>
    <title>Screener stock</title>
    <meta name="description" content="<%= description %>">
    <meta name="og:description" content="<%= description %>">
    <meta name=”keywords” content=”Screener stock, Screening stock”>
    <% include ../partials/_StaticCss.ejs %> -->
    <div class="card  card z-depth-0 ">
        <div class="card-body ">
            <% include ../adsense/google/_h_scrapper_ad_banner_1.ejs %>
            <%- include('./tool-selector.ejs',{screeners: screeners}) %>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <blockquote><h5>Popular Screener</h5></blockquote>
            <div class="row p-2">
                <ul class="collection with-header col s12 m8 l6">
                    <li class="collection-item">
                        <div>
                            <a href='/screener/search?data=%5B%7B"n":"DELIVERY_PER","ot":1,"op":">","v1":"50"%7D%5D'
                               class="">Stocks with Delivery more than 50%<i
                                        class="material-icons blue-text right">send</i></a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div>
                            <a href='/screener/search?data=%5B%7B"n":"RSI","ot":1,"op":"<","v1":"30"%7D,%7B"n":"WR","ot":1,"op":"<","v1":"-80"%7D%5D'
                               class="">Oversold stocks (RSI and %WR)<i
                                        class="material-icons blue-text right">send</i></a></div>
                    </li>
                    <li class="collection-item">
                        <div>
                            <a href='/screener/search?data=%5B%7B"n":"RSI","ot":1,"op":">","v1":"70"%7D,%7B"n":"WR","ot":1,"op":">","v1":"-20"%7D%5D'
                               class="">OverBought stocks (RSI and %WR)<i
                                        class="material-icons blue-text right">send</i></a></div>
                    </li>
                    <li class="collection-item">
                        <div><a href='/screener/search?data=%5B%7B"n":"GAIN_LOSS_PER","ot":1,"op":">","v1":"5"%7D%5D'
                                class="">Stock with gain more than 5% today<i
                                        class="material-icons blue-text right">send</i></a></div>
                    </li>
                    <li class="collection-item">
                        <div><a href='/screener/search?data=%5B%7B"n":"GAIN_LOSS_PER","ot":1,"op":"<","v1":"-5"%7D%5D'
                                class="">Stock with loss more than 5% today<i
                                        class="material-icons blue-text right">send</i></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<script>
    let screenersSelected =<%- JSON.stringify(screenersSelected) %>
    const screeners =<%- JSON.stringify(screeners) %>
    const tickersMap = undefined;
</script>
<script src="<%= process.env.STATIC_FILES %>/public/js/screener.js?v=1"></script>
<% include ../partials/_tableSorter.ejs %>

