<div class="row g-0">

  <div class="col s12 bg-info p-2">
    <h1 class="float-start page-header">Screener</h1>
    <% if(filteredStocks.length > 0){ %>
    <div aria-label="modify screener" id="sc-toggle-select-panel" class="float-end">
      <i class="fa fa-edit"></i> &nbsp;<span>Modify</span>
    </div>
    <% } %>
    <div class="clearfix"></div>
    <div class="badge badge-phoenix badge-phoenix-info"><i class="fa fa-info-circle me-1"></i>Last updated
      on <%= lastUpdatedOn %>
    </div>

  </div>
</div>
<div id="sc-select-panel" class="row g-0 <%= filteredStocks.length > 0 ? 'd-none' : '' %>">
  <div class="col-12 col-md-5 col-lg-3 bg-300">
    <ul class="list-group list-group-flush p-2" id="all_screener_panel">
      <% screeners.forEach(function (screener) { %>
      <li class="list-group-item"><%= screener.name %> <a data-screener="<%= screener.name %>" class=""><i class="fa fa-add"></i></a></li>
      <% }) %>
    </ul>
  </div>
  <div class="col-12 col-md-7 col-lg-9">
    <div id="selected_screener_panel" class="p-2">
      <% screenersSelected.forEach(function (screener) { %>
      <p>
        <%= screener.n %>&nbsp;&nbsp;
        <%= screener.ot %>&nbsp;&nbsp;
        <%= screener.op %>&nbsp;&nbsp;
        <%= screener.v1 %>&nbsp;&nbsp;
        <%= screener.v2 %>&nbsp;&nbsp;
      </p>
      <% }) %>
    </div>
    <br>
    <button id="sc-submit" class="btn btn-info ms-2">Search</button>
    <br>
  </div>
</div>
<% if(screenersSelected.length > 0){ %>

<div class="row g-0">
  <div class="col-xs-12 bg-info p-2">
    <hr>
    <span class="">Filters: </span>
    <% screenersSelected.forEach(function (screener) { %>
    <div class="badge bg-warning">
      <% if(screener.ot === 1){ %>
      <%= screener.display %>
      (<%= screener.tl %>)&nbsp;&nbsp;
      <%= screener.op %>&nbsp;&nbsp;
      <%= screener.v1 %>
      <% if(screener.op === "BETWEEN"){ %>
      &nbsp;and&nbsp;
      <%= screener.v2 %>&nbsp;&nbsp;
      <% } %>
      <% } else if(screener.ot === 2){ %>
      <%= screener.op %>&nbsp;&nbsp;
      <%= screener.n %>&nbsp;(<%= screener.tl %>)
      <% } %>
    </div>
    <% }) %>
    <p class="mt-2">Result :- <%= filteredStocks.length %> Stocks
      found
    </p>
    <small>(click on the stock to see detailed technical analysis)</small>
    <br>
  </div>
  <div class="col s12 p-0">
    <% if(filteredStocks.length > 0 ) { %>
    <% var d_list=""; 
    screenersSelected.forEach(function (screener,index) { d_list+=',"_s_item'+index+'"'  } );
    %>
    <div data-list='{"valueNames":["_s_Symbol","_s_ltp"<%= d_list %> ]}'>

      <div class="table-responsive stick-table mt-3 ">
        <table class="table table-sm fs--1 mb-0 table-bordered">
          <thead>
            <tr>
              <th data-sort="_s_symbol ps-1" class="sort text-start bg-info text-200">Symbol</th>
              <th data-sort="_s_ltp" class="sort text-end bg-info text-200">LTP</th>
              <% screenersSelected.forEach(function (screener,index) { if(screener.ot != 3){ %>
              <th data-sort="_s_item<%=index%>" class="sort text-end  bg-info text-200 pe-1"><%= screener.display %>
                &nbsp;(<%= screener.tl %>)
              </th>
              <% } }) %>
            </tr>
          </thead>
          <tbody class="list">
            <% filteredStocks.forEach(function (item) { %>
            <tr>
              <td class="_s_symbol text-start ps-1 fw-bolder"><a href="/company/<%= item.symbol %>/technical"><%= item.symbol %></a></td>
              <td class="_s_ltp text-end"> <%= parseFloat(item.ltp).toFixed(2) %></td>
              <% screenersSelected.forEach(function (screener,index) { if(screener.ot != 3){ %>
              <% let tmpData = item;
                                    if (screener.tl === "D")
                                        tmpData = item.daily;
                                    else if (screener.tl === "W")
                                        tmpData = item.weekly;
                                    else if (screener.tl === "M")
                                        tmpData = item.monthly;
                                    console.log(screener.tl)
                                %>
              <td class="_s_item<%=index%> text-end pe-1"><%= parseFloat(tmpData[screener.n.toLowerCase()]).toFixed(2) %>
                &nbsp;<%= screener.value_type %></td>
              <% } }) %>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <% }else{ %>
    <h5 class="center">No stock matches the criteria</h5>
    <% } %>
  </div>
</div>
<% } %>
<style>
  #all_screener_panel::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  #all_screener_panel::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .screener-item {
    line-height: 30px;
    height: 50px;
    margin-top: 15px;
  }

  .screener-item select {
    height: 2rem;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
  }

  @media only screen and (max-width: 600px) {
    .screener-item select {
      max-width: 60px;
    }
  }

  .screener-item input {
    height: 2rem !important;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
  }

  .screener-item label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    /*min-width: 110px;*/
  }

  .screener-item>*:not(:first-child) {
    margin-left: 5px !important;
  }

  .divider {
    /*position: relative;*/
  }

  .divider:not(:last-child)::before {
    position: absolute;
    content: "&";
    color: #ddd;
    margin-top: -15px;
    font-size: 20px;
    background: #fff;
    width: 20px;
    margin-left: 5px;
  }

  @media only screen and (max-width: 600px) {
    #all_screener_panel {
      max-height: 200px;
      overflow-y: scroll
    }
  }

  @media only screen and (min-width: 600px) {
    #all_screener_panel {
      max-height: 500px;
      overflow-y: scroll
    }
  }

  #selected_screener_panel .sc-trash {
    padding-top: 4px;
    width: 25px;
    line-height: 25px;
  }

  .sc-add-btn {
    margin-right: 10px;
    height: 25px;
    width: 25px;
  }

  #all_screener_panel .sc-add-btn i.material-icons {
    width: 25px;
    line-height: 25px;
    font-size: 1.3rem;
  }
</style>